@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap");
/* font-family: "Quicksand", serif; */
/* font-family: "Raleway", serif; */

/*=== Css Reset ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}


/*=== Utility Classes ===*/

.section-body{
  max-width: 85%;
  padding: 2em 0 2em 0;
  margin: 0 auto;
}

.position-btn{
  padding: 0.7em 1.4em;
  color: white;
  border: none;
  border-radius: 0.7em;
  font-size: 0.959rem;
  font-weight: 500;
}

.font-15-medium{
  font-family: "Raleway", serif;
  font-weight: 500;
  font-size: clamp(0.639rem, 1vw, 0.9rem);
}

.font-20-regular, .font-20-medium{
  font-family: "Quicksand", serif;
  font-size: clamp(1.031rem, 2vw, 1.25rem);
  line-height: 1.6;
}

.font-20-regular{
  font-weight: 400;
}

.font-20-medium{
  font-weight: 500;
}

.font-24-bold{
  font-family: "Quicksand", serif;
  font-size: clamp(1.275rem, 3vw, 1.58rem);
  font-weight: 700;
  line-height: 1.6;
}