@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap");
/* font-family: "Quicksand", serif; */
/* font-family: "Raleway", serif; */

/*=== Css Reset ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  font-family: "Quicksand", serif;
}

a{
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color:#f7f7f7;
}

img,
picture {
  max-width: 100%;
  display: block;
}


/*=== Utility Classes ===*/

.section-body{
  max-width: 85%;
  padding: 2em 0 2em 0;
  margin: 0 auto;
}

.regular-btn{
  padding: 0.5em 1.8em;
  color: white;
  border: none;
  border-radius: 0.4em;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s;
}

.position-btn{
  padding: 0.6em 1.2em;
  color: white;
  border: none;
  border-radius: 0.6em;
  font-size: clamp(0.5rem, 5vw, 0.759rem);
  font-weight: 600;
}

.position-btn:hover{
  background-color: #01ACFD;
}

.font-15-medium{
  font-family: "Raleway", serif;
  font-weight: 500;
  font-size: clamp(0.839rem, 1vw, 0.9rem);
}

.font-20-regular, .font-20-medium{
  font-family: "Quicksand", serif;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.font-20-regular{
  font-weight: 400;
}

.font-20-medium{
  font-weight: 500;
}

.font-24-bold{
  font-family: "Quicksand", serif;
  font-size: clamp(1.1rem, 5vw, 1.3rem);
  font-weight: 700;
  line-height: 1.6;
}

/*=== Header ===*/

.header-container{
  max-width: 85%;
  padding: 1em 0 1em 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo, .nav-list{
  display: flex;
  align-items: center;
}

.nav-list{
  gap: 1.5em;
}

.logo-image{
  height: 62px;
  width: 62px;
}

.logo-text{
  font-family: "Quicksand", serif;
  font-size: 2rem;
  font-weight: 700;
  color: #111111;
  margin-left: 0.2em;
}

.header-btn{
  background-color: #FEA301;
}

.header-btn:hover{
  background-color: black;
}

.nav-item:nth-child(1) .nav-link{
  color: #FEA301;
}

.nav-item:nth-child(2) .nav-link{
  color: #01ACFD;
}

.nav-item:nth-child(3) .nav-link{
  color: #05D4DF;
}

.nav-item:nth-child(4) .nav-link{
  color: #5D58EF;
}

.hamburger-menu{
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 750px){
  .header{
    border-bottom: 1px solid #FEA301;
  }

  .header-container{
    max-width: 90%;
  }

  .hamburger-menu{
    display: block;
  }

  .header-nav, .header-btn, .logo-text{
    display: none;
  }

  .logo-image{
    height: 46px;
    width: 46px;
  }
}

/*=== Hero Section ===*/

.hero{
  min-height: 575px;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.hero-section-width{
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.hero-image-container{
  margin-left: auto;
}

.hero-title{
  font-family: "Quicksand", serif;
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  font-weight: bold;
  line-height: 1.2;
}

.title-text-1{
  color: #FEA301;
}

.title-text-2{
  color: #01ACFD;
}

.hero-description{
  margin: 1.3em 0em;
}

.hero-btn{
 background-color: black;
}

.hero-btn:hover{
  background-color: #FEA301;
}

@media screen and (max-width: 750px) {
  .hero{
    grid-template-columns: 1fr;
  }

  .hero-content{
    text-align: center;
    order: 2;
  }

  .hero-image-container{
    width: 100%;
    order: 1;
  }

  .hero-img{
    margin: 0 auto;
  }
}

/* Marquee element style */
.school-motto{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.2rem;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
}

